node_modules
npm-debug.log
.env
.git
.gitignore
.env.example
**/node_modules
**/dist
**/uploads/*
!.gitkeep
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/coverage
**/.next
**/out
**/build
**/.cache
**/.sass-cache
**/.vscode
